{% load static %}
<div>
{% include "myapp/theme.html" %}
</div>

{% load crispy_forms_tags %}

{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alerts</title>

    <style type="text/css">
      html, body {
          background: #eee;
          height: 100%;
      }
    </style>

    <style type="text/css">
    .heading {
         width: 100%;
         text-align: center;
         border-bottom: 1px solid #000;
         line-height: 0.1em;
         margin: 10px 0 20px;
    }

    .heading span {
            background:#fff;
            padding:0 10px;
    }
    </style>
</head>

{% endblock %}

{% block body %}

<div class="container-fluid">
	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#createTab">Create Alert</a></li>
	  <li><a data-toggle="tab" href="#manageTab">Manage Alerts</a></li>
	  <li><a data-toggle="tab" href="#liveTab">Live Alerts</a></li>
	</ul>

	<div class="tab-content">

		<div id="createTab" class="tab-pane fade in active">
			<h5>Create a new alert</h5>
			<div class="valign-wrapper2">
                <div class="container expand-on-small-only">
                    <div class="row valign change-form">
                        <div class="col s12 m8 offset-m2 l8 offset-l2">
                        	<div class="card" style="width:100%;padding-left:45px;padding-right:45px;padding-bottom:45px;padding-top:45px;">
							<form id="createAlertForm" method="post" action="alerts_create_handler/">{% csrf_token %}
							    {% form form=create_alert_form %}{% endform %}
							    <br>
							    <button type="submit" class="btn btn-primary">Create Alert!</button>
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="manageTab" class="tab-pane fade">
			<h3>View/Delete/Deactivate/Reactivate an existing alert</h3>
			<div class="table-responsive">
				<table class="table table-hover table-striped table-bordered">
					<thead>
					  <tr style="background: #2C2B2A; color: white">
					    <th style="text-align: center;">Alert Name</th>
					    <th style="text-align: center;">Status</th>
					    <th style="text-align: center;">Action</th>
					  </tr>
					</thead>
					<tbody>
						{% for alertspec in alertSpecs %}
						<tr>
							<td style="text-align: center;">{{alertspec.alert_name}}</td>
							<td style="text-align: center;">{{alertspec.status}}</td>
							<td style="text-align: center;">
								<a class="btn btn-info"    href="alerts_view?alert_id={{alertspec.id}} " target="_blank">View</a>
								<a class="btn btn-danger"  href="alerts_delete?alert_id={{alertspec.id}}">Delete</a>
								{% if alertspec.status == "RUNNING" %}
								<a class="btn btn-warning" href="alerts_deactivate?alert_id={{alertspec.id}}">Deactivate</a>
								{% else %}
								<a class="btn btn-success" href="alerts_activate?alert_id={{alertspec.id}}">Activate</a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<div id="liveTab" class="tab-pane fade">
			<h3>Live alerts</h3>
			<div class="table-responsive">
				<table class="table table-hover table-striped table-bordered">
					<thead>
					  <tr style="background: #2C2B2A; color: white">
					    <th rowspan="2" style="text-align: center;">Alert Name</th>
					    <th colspan="4" style="text-align: center;">Window Description</th>
					    <th rowspan="2" style="text-align: center;">Delete Alert</th>
					  </tr>
					  <tr style="background: #2C2B2A; color: white">
					    <th style="text-align: center;">Keys</th>
					    <th style="text-align: center;">Start Time</th>
					    <th style="text-align: center;">End Time</th>
					    <th style="text-align: center;">Current Tweet Count</th>
					  </tr>
					</thead>
					<tbody>
						{% for alert in alerts %}
						<tr>
							<td style="text-align: center;">{{alert.alert_name}}</td>
							<td style="text-align: center;">{{alert.key}}</td>
							<td style="text-align: center;">{{alert.window_start}}</td>
							<td style="text-align: center;">{{alert.window_end}}</td>
							<td style="text-align: center;"><a href="alerts_tweets?alert_id={{alert.id}}" target="_blank">{{alert.tweet_count}}</a></td>
							<td style="text-align: center;"><a class="btn btn-danger" href="alerts_dismiss?alert_id={{alert.id}}">Dismiss</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>

</div>

<script type="text/javascript">
	$(function(){
	    $("#hashtags_tab").removeClass("active");
	    $("#mentions_tab").removeClass("active");
	    $("#urls_tab").removeClass("active");
	    // $("#custom_metrics_tab").removeClass("active");
	    $("#alerts_tab").addClass("active");
	    $("#create_query_tab").removeClass("active");
	});
</script>

<script type="text/javascript">
	function update_alerts(){
		$.get(
			"get_live_alerts",
			function (data, status) {
            	console.log(data);
            	console.log(status);

            }
        );
	};
	setInterval(function(){update_alerts();}, 5000);
</script>

{% endblock %}