{% load staticfiles %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block body %}

<style type="text/css">
h4 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

h4 span {
    background:#fff;
    padding:0 10px;
}


</style>



<div class="container">
  <div class="row">
    <div class="jumbotron">

      <form  method='post' action="/create_mongo_query_handler/">{% csrf_token %}
        <h4><span>Most Popular hashtags</span></h4>
        <h5>Give the most popular hashtags in total</h5>
        {{ create_mongo_form_1|crispy }}
        <p class="bs-component">
            <center>
                <input class="btn btn-success btn-sm" type="submit" name="b1" value="Create" />
            </center>
        </p>
    </form>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    <form  method='post' action="/create_mongo_query_handler/">{% csrf_token %}
        <h4><span>Most popular hashtags in interval</span></h4>
        <h5>Give the most popular hashtags in the time interval &ltBegin Time&gt and &ltEnd Time&gt</h5>
        {{ create_mongo_form_2|crispy }}
        <p class="bs-component">
            <center>
                <input class="btn btn-success btn-sm" type="submit" name="b2" value="Create" />
            </center>
        </p>
    </form>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    <form  method='post' action="/create_mongo_query_handler/">{% csrf_token %}
        <h4><span>Usage of hashtag</span></h4>
        <h5>Give the timetamps at which &lthashtag&gt is used between &ltBegin Time&gt and &ltEnd Time&gt</h5>
        {{ create_mongo_form_3|crispy }}
        <p class="bs-component">
            <center>
                <input class="btn btn-success btn-sm" type="submit" name="b3" value="Create" />
            </center>
        </p>
    </form>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    <form  method='post' action="/create_mongo_query_handler/">{% csrf_token %}
        <h4><span>Usage and Sentiment of hashtag</span></h4>
        <h5>Give the timetamps, associated positive and negative sentiment of a &lthashtag&gt between &ltBegin Time&gt and &ltEnd Time&gt</h5>
        {{ create_mongo_form_4|crispy }}
        <p class="bs-component">
            <center>
                <input class="btn btn-success btn-sm" type="submit" name="b4" value="Create" />
            </center>
        </p>
    </form>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div>
  </div>
</div>
{% endblock %}

