# packages in environment at /home/deepak_saini/anaconda3/envs/django1.10:
#
alabaster                 0.7.10                    <pip>
Babel                     2.6.0                     <pip>
certifi                   2018.1.18                 <pip>
chardet                   3.0.4                     <pip>
decorator                 4.3.0                     <pip>
Django                    1.10.1                    <pip>
django-appconf            1.0.2                     <pip>
django-bootstrap3         9.1.0                     <pip>
django-bootstrap3-datetimepicker 2.2.3                     <pip>
django-classy-tags        0.8.0                     <pip>
django-crispy-forms       1.6.0                     <pip>
django-easy-maps          0.9.3                     <pip>
django-filter             1.1.0                     <pip>
django-geoposition        0.3.0                     <pip>
django-last-seen          0.3                       <pip>
django-map-widgets        0.1.9                     <pip>
django-material           1.2.3                     <pip>
django-tables2            1.2.6                     <pip>
djangorestframework       3.7.7                     <pip>
docutils                  0.14                      <pip>
geographiclib             1.49                      <pip>
geopy                     1.13.0                    <pip>
httpie                    0.9.9                     <pip>
idna                      2.6                       <pip>
imagesize                 1.0.0                     <pip>
intel-openmp              2018.0.0                      8  
ipython-genutils          0.2.0                     <pip>
Jinja2                    2.8                       <pip>
jsonschema                2.6.0                     <pip>
jupyter-core              4.4.0                     <pip>
llvmlite                  0.20.0                   py34_0  
Markdown                  2.6.11                    <pip>
MarkupSafe                0.23                      <pip>
mkl                       2017.0.4             h4c4d0af_0  
nbformat                  4.4.0                     <pip>
neo4j-driver              1.5.0                     <pip>
networkx                  1.10                      <pip>
numba                     0.35.0              np111py34_0  
numpy                     1.14.3                    <pip>
numpy                     1.11.3                   py34_0  
openssl                   1.0.2h                        1  
packaging                 17.1                      <pip>
Pillow                    5.1.0                     <pip>
pip                       8.1.2                    py34_0  
pip                       9.0.1                     <pip>
plotly                    2.7.0                     <pip>
Pygments                  2.2.0                     <pip>
pymongo                   3.6.1                     <pip>
pyparsing                 2.2.0                     <pip>
python                    3.4.5                         0  
python-dateutil           2.6.1                     <pip>
pytz                      2018.4                    <pip>
readline                  6.2                           2  
requests                  2.18.4                    <pip>
setuptools                26.1.1                   py34_0  
six                       1.11.0                    <pip>
snowballstemmer           1.2.1                     <pip>
Sphinx                    1.7.5                     <pip>
sphinx-rtd-theme          0.4.0                     <pip>
sphinxcontrib-websupport  1.1.0                     <pip>
sqlite                    3.13.0                        0  
tk                        8.5.18                        0  
traitlets                 4.3.2                     <pip>
typing                    3.6.4                     <pip>
urllib3                   1.22                      <pip>
wheel                     0.29.0                   py34_0  
xz                        5.2.2                         0  
zlib                      1.2.8                         3  
